#home{
    background-color:#01BAB3 !important;
    height:100vh;
    background-attachment:fixed;
    padding-top:10em;
    color:snow;
}
#whoAmI{
    background-color: #343434;
    color:snow;
    padding-top:3.5em;
}
svg{
    max-width:100px;
}
button{
    margin-bottom:1em !important;
}

.progress span{
    color:black;
}
.thumbnail img{
    height:400px;
}

#contact{
 background: linear-gradient(to right,#1E1E1E,#2A2D2E);
    padding:0.3em;
}


